
<section class="ui raised segment">
    <div class="ui grid">
        <aside class="six wide column">

            <img src="./images/beach1.jpg" class="ui large rounded image">
        </aside>
        <article class="eight wide column">
            <table class="ui celled table segment">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Category</th>
                </tr>
                </thead>
                <tbody>
                {{#each beaches}}
                    <tr>

                        <td> <a href="/beaches/{{_id}}">{{name}}</a> </td>
                        <td> {{description}} </td>
                        <td> {{categories}} </td>
                        <td> {{reviewer.firstName}} {{reviewer.lastName}} </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </article>
    </div>
</section>